body {
  /*background: linear-gradient(90deg, white, gray);*/
  background-color: #eee;
}

body, h1 {
  font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.container {
  margin-left:  10%;
  margin-right:  10%;
  margin-top: 75px;
  max-width: 1170px;
  /*padding-right: 15px;
  padding-left: 15px;*/
  height: 1000px;
}

.row:before, .row:after {
  display: table;
  content: " ";
}

h1 {
  font-size: 48px;
  font-weight: 300;
  margin: 0 0 20px 0;
  text-align: center;
}

h2 {
  margin-top: 50px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

p {
  font-weight: 200;
  margin-bottom: 20px;
  margin-right: 10%;
  margin-left: 10%;
}

ul li {
  font-weight: 200;
}

a {
  color: #3282e6;
  text-decoration: none;
  transition: background-color .25s ease-in;
}

a:hover {
  background-color: #ccc;
  transition: background-color .01s ease-in;
}

ul.changelog {
  list-style: none;
}

img {
  margin-bottom: 35px;
}

span.question {
  font-weight: bold;
}

span.code {
  background-color: #ddd;
}

nav ul {
  background-color: #343434;
  text-align: center;
  -webkit-padding-start: 0px;
  margin-top:0px;
}

nav li {
  border-left: solid 1px;
  border-right: solid 1px;
  border-color: #eee;
  display: inline-block;
}

nav a, nav span {
  padding: 7px 15px 7px 15px;
  display: block;
  color: #eee;
  transition: background-color .25s ease-in;
}

nav a:hover, nav span:hover {
  color: #000;
  background-color: #eee;
  transition: background-color .01s ease-in;
}

#map {
  min-height: 400px;
  width: 100%;
  min-width: 350px;
  background-color: grey;
}

form {
  margin-top: 15px;
}

.div-table {
  display: table;
  margin: 0 auto;
}

.div-row {
  display: table-row;
}

.div-cell {
  display: table-cell;
  padding-right: 7px;
  padding-bottom: 7px;
}

.btn-group button {
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}


.dk button {
  color: white;
  border: 1px solid red;
  background-color: #C41F3B;
}
.dk button:hover {
  background-color: #9C132a;
}

.dh button {
  color: white;
  border: 1px solid darkmagenta;
  background-color: #A330C9;
}
.dh button:hover {
  background-color: #731c90;
}

.druid button {
  color: white;
  border: 1px solid darkorange;
  background-color: #FF7D0A;
}
.druid button:hover {
  background-color: #D66400;
}

.hunter button {
  color: black;
  border: 1px solid #799a4c;
  background-color: #ABD473;
}
.hunter button:hover {
  background-color: #799a4c;
}

.mage button {
  color: black;
  border: 1px solid lightblue;
  background-color: #69CCF0;
}
.mage button:hover {
  background-color: #4dabce;
}

.monk button {
  color: black;
  border: 1px solid turquoise;
  background-color: #00FF96;
}
.monk button:hover {
  background-color: #03ce7a;
}

.paladin button {
  color: black;
  border: 1px solid pink;
  background-color: #F58CBA;
}
.paladin button:hover {
  background-color: #d878a2;
}

.priest button {
  color:black;
  border: 1px solid white;
  background-color: #ffffff;
}
.priest button:hover {
  background-color: #cccccc;
}

.rogue button {
  color: black;
  border: 1px solid yellow;
  background-color: #FFF569;
}
.rogue button:hover {
  background-color: #d6cc52;
}

.shaman button {
  color: white;
  border: 1px solid blue;
  background-color: #0070DE;
}
.shaman button:hover {
  background-color: #1744d0;
}

.warlock button {
  color: white;
  border: 1px solid #7463a9;
  background-color: #9482C9;
}
.warlock button:hover {
  background-color: #7463a9;
}

.warrior button {
  color: white;
  border: 1px solid tan;
  background-color: #C79C6E;
}
.warrior button:hover {
  background-color: #ad8862;
}

.highcharts-root text {

  font-family: 'Liberation Sans', sans-serif !important;

}


.highcharts-background {

  fill: #222222;

  stroke: #080808;

  stroke-width: 1px;

  color: #EEEEEE;

}


.highcharts-axis text {

  fill: #9d9d9d !important;

}


.highcharts-axis-labels text{

  fill: #9d9d9d !important;

}


.highcharts-title {

  fill: #9d9d9d !important;

}


.highcharts-legend-box {

  fill: #222222;

  stroke: #9d9d9d;

}

.highcharts-legend-item text {

  fill: #9d9d9d !important;

}